post {
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px #484848;
  background: #fff;
  color: #000;
  display: block;
  padding: 5px;
  margin: 20px;
}

.post-header {
  display: flex;
}

.post-title {
  font-weight: bold;
  flex-grow: 1;
}

.show-comment {
  color: navy;
  cursor: pointer;
}

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
